---
import type { Post } from "@/lib/interfaces/post.interface";
import { slugify } from "@/lib/utils";
import { Image } from "astro:assets";
import imgTest from "../assets/background.svg";

interface Props {
  post: Post;
  imgShow: boolean;
}
const { post, imgShow } = Astro.props;

const slug = slugify(post.name);
---

<a href={`post/${post.category.name}/${post.id}/${slug}`}>
  <div class="flex flex-col gap-4">
    <div>
      <h2>{post.name}</h2>
    </div>
    {
      imgShow && (
        <div>
          <Image src={imgTest} alt="test img" />
        </div>
      )
    }
    <div>
      <p>{post.category.name}</p>
    </div>
    <div>
      <p>Autore: {post.author.name.toLocaleUpperCase()}</p>
    </div>
  </div>
</a>
